    <div class="navigation">
      <ul>	
		    <li class="logo">
          <a href="/cover">
            <img src="../misc/J3.png" width="40" length="40">
          </a>
        </li>
        
		    <li><a id="#top" href="/">HOME</a></li>
		    <li><a href="/library">LIBRARY</a></li>
        <li><a href="/upload">UPLOAD</a></li>
        <li><a href="/login">LOG IN</a></li>
        <li>
          <form action="/submit-search" method="post">
            <input type="text" class="searchBar" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </li>

        <li class="logo"><a href="/settings">
          <img id="settings" src="https://www.seekpng.com/png/full/781-7810931_clip-art-library-library-clip-art-at-clker.png"     
          width="20" length="20"></a>
        </li>
        
	    </ul>
    </div>