
  <head>
    <title>Cover page</title>
    <link href="cover.css" rel="stylesheet" type="text/css" />
  </head>
    
    <br>
    <div id="about">
      <h1 id = "AboutUs">About Us</h1>
      <br>
      <hr>
      <br>
      <div id="pictures">
        <div class="member">
          <p>Joshua Ejercito</p>
          <img class="images" src="../misc/JOSH.jpg">
        </div>
        
        <div class="member">
          <p>Jared Limjoco</p>
          <img class="images" src="../misc/LIMJOCO-JARED-1.jpg">
        </div>
        
        <div class="member">
          <p>Joseph Ano</p>
          <img class="images" src="../misc/Ano-Joseph.jpg">
          <br>
        </div>
      </div>
      
      <br><br>
      <p id = "AboutUsDesc">We are a small team of students taking up Computer Science at De la Salle University here in the Philippines. This website is a major course requirement for our CCAPDEV course. Our goal with this website is to be able to distribute various forms of music to the everyday person. The origin of our logo is actually just our team's initials, 'J', raised to three since we are three actively working in the team. We hope you enjoy your stay in our web app and wish you the best in your endeavours!</p>
      <br><br>
      <h3>Dependencies: </h3>
      <p id = "dependencies">
        <ul>
          <li>express.js</li>
          <li>express-hbs</li>
          <li>mongoose</li>
          <li>express-fileupload</li>
          <li>body-parser</li>
          <li>express-session</li>
          <li>connect-mongo</li>
          <li>connect-flash</li>
          <li>express-validator</li>
          <li>bcryptjs</li>
          <li>NodeJS</li>
          <li>MongoDB Community Edition or MongoDB Atlas Cluster</li>
          <li>Any text editor for JavaScript, HTML and CSS</li>
          <li>Heroku</li>
        </ul>
      </p>
    </div>
  
