  <head>
    <title>Edit Song Page</title>
    <link href="main.css" rel="stylesheet" type="text/css" />
    <link href="upload.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="uploadBG" style="background-image: url(../misc/invertsmoke2.png)">
    <div class = "fileUpload">
      <div style="background-color: rgb(9,178,222); border-radius: 20px 20px 0 0; color: white;">
      <br>
      <h3 style="text-align: center;">Edit Your Track:</h3><br>
      </div><br><br>
      <form id = "uploadForm" action="/submit-edit-song" method="post" enctype="multipart/form-data">
      <div style="padding-left: 5%;">
        <label for="Selected Song">What Song do you wish to edit? </label><br>
        <input type="text" id="selectedSong" name="selectedSong" required style="width: 95%"><br><br>

        <label for="Track Name">Track Name </label><br>
        <input type="text" id="track_name" name="songName" style="width: 95%"><br><br>

        <p>Song cover</p><br>
        <input type="file" id="myFile" name="songCover"><br><br>
      </div>
       <div style = "text-align: center;">
        <input type="submit" id="uploadBtn" value= " Submit Track " style="width: 90%"><br>
       </div>
      </form>
    </div>
  </body>  